{% extends 'base.html' %}

{% block sidebar %}
<ul>
	<li><a href="/articles/all/"> Articles </a></li>
</li>
</ul>
{% endblock %}


{% block content %}
	<h1>{{ article.title }} </h1>
	<p> {{ article.body }} </p>
	{% if article.thumbnail %}
	<p><img src="/static/assets/{{article.thumbnail}}" width="200"></p>
	{% endif %}
	<p> {{article.likes}} people liked this article </p>
	<p><a href="/articles/like/{{article.id}}"> Like </a></p>

	<h2> Comments </h2><hr>
	{% if comments.count > 0 %}

	{% for comment in comments %}
	<div>
	<p><b> {{ comment.user|upper }} </b></p>
	<p><i> {{comment.text}} </i></p>
	</div>

	{% endfor %}

	{% else %}
	<p> No Comments </p><hr>
	{% endif %}

	<p>
	<form action='/articles/addcomment/{{article.id}}/' method="POST"> {% csrf_token %}
	<ul>
	{{ form.as_p }}
	</ul>
	<input type="submit" name="submit" value="Add">
	</form>
	</p>
{% endblock %}